/* Temel sıfırlama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-container {
    max-width: 1200px;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #2c3e50;
}

.ıcecek {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.ıcecek:hover {
    transform: translateY(-10px);
}

.ıcecek img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

h2 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #2c3e50;
}

.price {
    font-size: 1.2em;
    color: #e74c3c;
    margin-top: 10px;
}

.ıcecek:hover { 
    background-color: #2b475e46;
    transform: scale(1.02);
}