
STYLES.CSS




/* Genel Ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    color:#ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#yazi {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#yazi2 {
    color:black;
    font-weight: bold;
    font-size: 18px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292727;
    padding: 10px 32px !important;
    color: #fff;
    margin-top: 15px;
}

.logo {
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px ;
    margin-top: 8px;
}

.nav-links {
    margin-top: 10px;
    list-style: none;
    display: flex;/*  linkleri yan yana getirmek için      */
}

.nav-links li {
    margin-left: 24px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: #8a1515 !important;;
    color: #fff !important;;
    padding: 6px 16px !important;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

/* Ana sayfa*/
.anasayfa {
    background: url('https://img.freepik.com/premium-photo/oceanic-delight-baked-salmon-with-sweet-potato-fries_1117469-724.jpg') no-repeat center center/cover;
    background-position: center;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative; 
}

.buton{
    position: absolute; /* Butonu ana sayfa içinde absolute olarak konumlandırıyoruz */
    top: 45%; /* Butonu dikeyde ortalamak için */
    left: 43%; /* Butonu yatayda ortalamak için */
    padding: 8px 30px;
    margin:75px 0px;
    background-color: #8a1515;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.anasayfa h2 {
    font-size: 40px ;
    margin-bottom: 1rem;
}

/* Menü Bölümü */
.menu-section {
    margin-bottom: 3px;
    padding: 22px;
    background-color: #f8f3f3;
    text-align: center;
}

#baslangıc {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

#anayemek {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

#tatlılar {
    font-size: 20px;
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}


#ıcecekler {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}


.menu-items {  
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.menu-item {
    width: 20%;
    padding: 16px;
    background-color: #776b6b;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
}

/* Hakkımızda Bölümü */
.about-section {
    padding: 32px;
    background-color: #5f1b16;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}


/* İletişim Bölümü */
.contact-section,
.reservation-section {
    line-height: 1.5;
    padding: 32px;
    text-align: center;
    background-color: #bbb3b3;
}

.contact-section form,
.reservation-section form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 16px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-inline{
         text-align: center;
        background-color:#bbb3b3;
         padding: 10px;
          font-size: 20px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding:5px;
    text-align: center;
}
.footer p{
    margin-top: 10px;
}